@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.image {
    width: 200px;
    height: auto;
    justify-content: center;
}

.imagen {
    width: 600px;
    height: auto;
    justify-content: center;
    text-align: center;
}

body {
    font-family: Quicksand;
    margin: 10;
    color: hsl(0, 0%, 20%);
    align-items: center;
    background: #ffffff;
    min-height: 200vh;
}

body .h1{
    text-align: center;
}

body .inicio h1{
    text-align: center;
}

body .inicio p{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    font-family: Poppins;
}

.inicio {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 90px;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 5px 100px;
    z-index: 1000;
}

header .logo img{
    width: 120px;
    height: auto;
    position: relative;
    transition: 0.6s;
    z-index: 100000;
}

header .sticky{
    padding: 5px 100px;
    background: #ffffff;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s; 
}


header.sticky .logo,
header.sticky ul li a{
    color: #000;

}

.container-footer{
    width: 100%;
    padding: 40px;
    background: #fff8fa;
    margin-top: 10px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 200px;
}

.container-footer footer .socials-footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-footer footer .socials-footer .icon-socials-footer{
    font-size: 20px;
    margin: 20px;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    color: #ffffff;
    background: #000000;
}

.container-footer footer .socials-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443a8 );
    color: #ffffff;
}

.container-footer footer .socials-footer .fa-pinterest:hover{
    background: #BD081C;
    color: #ffffff;
}

.container-footer footer .socials-footer .fa-spotify:hover{
    background: #1ED760;
    color: #ffffff;
}
.socials-footer a {
    text-decoration: none;
}
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 1px;
    background: #8e8e8e;
}

.container-footer footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
    font-size: 12px;
}

#bloghome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid;
}

.recentposts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recentposts span{
    color: #E37383;
}
.recentposts h3{
    font-size: 14px;
    color: #2b2b2b;
    font-weight: 600;

}
#bloghome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 330px;
    background: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blogimg{
    width: 100%;
    height: auto;
}
.blogimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #E37383; /*rosadito del texto de las fechas*/ 
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #2b2b2b;
    text-decoration: none;
}
.blog-text .blog-title:hover{
    color: #E37383;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #E37383;
    transition: all ease 0.3s;
}